html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,img,section{margin:0; padding:0}
body{
	font-family: "微软雅黑"; font-size:12px;
}
a{
	text-decoration: none; color: #333;
	/*color: inherit;*/
}
ul li,ol li{
	list-style: none;
}
h1,h2{
	font-weight: normal;
}
i,em{
	font-style: normal;
}
img{
	vertical-align: top; border: none;
}
.clearfix:after{
	content: ""; display: block; visibility: hidden; clear: both; height: 0; font-size: 0; overflow: hidden;
}
